.album-item img:hover{
    filter: grayscale(1) contrast(1.5);
}
.album-item img{
    transition: .6s all;
}
.download-btn {
    min-width: 7rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    max-width: 4rem;
}