.music-header {
    grid-template-columns: 4fr 1fr;
    box-shadow: 1px 0 5px 0px #8c8c8c;
}
.search-box-item {
    grid-column-start: 1;
    grid-column-end: five;
}
@media (max-width: 640px) {
    .music-header {
            box-shadow: 1px 0 5px 0px #8c8c8c;
    }
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 640px) {
    .music-header {
            box-shadow: none;
    }
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
 }
